BasedOnStyle: Google
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

NamespaceIndentation: None
FixNamespaceComments: true

DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false