# CMake
/build/
CMakeUserPresets.json
compile_commands.json

# Clang tooling
.cache/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated binaries
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Generated compiler output
/examples/**/*.qasm